<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="popHealthUser" value="pophealth" />
    <add key="popHealthPassword" value="pophealth" />
    <add key="popHealthBaseUrl" value="http://172.16.63.1:3000/" />
    <add key="LogPath" value="C:\Development\MSPCTRA\PopHealthUploader\tmp\Log" />
  </appSettings>
</configuration>